.cbp-fwslider {
	position: relative;
	overflow: hidden;
	margin-bottom: 50px;
}

.cbp-fwslider ul {
	height: 100%;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
}

.cbp-fwslider ul li {
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
}

.cbp-fwslider ul li a,
.cbp-fwslider ul li div {
	display: block;
	text-align: center;
	outline: none;
}

.cbp-fwslider ul li > img {
	height: 100%;
	border: none;
	margin: 0 auto;
}

.cbp-fwslider nav span {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 100px;
	color: #1a1a1a;
	font-size: 50px;
	text-align: center;
	margin-top: -50px;
	line-height: 100px;
	cursor: pointer;
	font-weight: normal;
	display: none;
}

.cbp-fwslider nav span.cbp-fwnext {
	right: 0px;
}

.cbp-fwslider nav span.cbp-fwprev {
	left: 0px;
}

.cbp-fwdots {
	position: absolute;
	bottom: 0px;
	white-space: nowrap;
	text-align: center;
	width: 100%;
	display: none;
}

.cbp-fwdots span {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #ddd;
	margin: 4px;
	border-radius: 50%;
	cursor: pointer;
}

.cbp-fwdots span:hover {
	background: #999;
}

.cbp-fwdots span.cbp-fwcurrent {
	background: #47a3da;
	box-shadow: 0 0 0 2px #47a3da;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}

.slide-hover {
	position: absolute;
	right: 0;
	top: 0;
	width: 35px !important;
	height: 35px !important;
	display: none;
	cursor: pointer;
}